In [1]:
import pandas as pd
import dagstermill as dm

In [2]:
df = pd.read_csv('num.csv')

df = df + 1

df

In [3]:
df = df + 23
df

   num1  num2
0    24    25
1    26    27

In [4]:
some_plot = df.plot(kind='bar')
some_plot

In [5]:
dm.yield_result(df)

   num1  num2
0    24    25
1    26    27